Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

.lintstagedrc:

{
  "src/**/*": ["pnpm lint:fix", "pnpm format:fix"],
  "pnpm-lock.yaml": ["pnpm i --fix-lockfile", "pnpm audit"],
  "package.json": ["pnpm sort-package-json"]
}

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["pnpm lint:fix", "pnpm lint:tsc"],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write"],
  "package.json": ["pnpm audit", "pnpm lint:pkg"]
}

chore: remove unused imports
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore: update enum members and list request params
  package.json
  src/__tests__/berry.spec.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/main.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/constants/endpoints.ts
  src/utils/request-params.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm audit, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: sync lockfile
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit

chore: update vitest config
  vitest.config.ts
Due: none

chore: update vitest and vitepress
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

feat(deps): update axios-cache-interceptor
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

docs(build): update vitepress beta
  .gitignore
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

Add missing UtilityClient in MainClient
  src/clients/main.client.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore(deps): updade @swc/core
  .github/workflows/build.yml
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

build(deps): update axios-cache-interceptor
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore(deps-dev): update node typings
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore(release): 1.19.0 [skip ci]
  package.json
Due: pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

Notes added by 'git notes add'
  3937b77cc72ea7c839e29ca6b6df701f19fb1082
Due: none

chore(deps-dev): update vitest
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: update README.md
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: update dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/settings.json
Due: prettier '**/*.{md,mdx,json}' --write

chore: update dev container
  .devcontainer/Dockerfile
Due: none

chore: update vitest
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: update readme
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: update vitest deps
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

build: update typescript
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore(ci): update semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore(test): update vitest deps and add path alias config
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: fix pre commit hook
  .husky/pre-commit
Due: none

docs: add sw updates
  .devcontainer/devcontainer.json
  .github/workflows/lint.yml
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: add missing files
  docs/.vitepress/components/ReloadPrompt.vue
  docs/.vitepress/components/theme/index.ts
Due: none

chore: update security policy
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .huskyrc
  .releaserc
  .vscode/settings.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: update coverage target branch
  .github/workflows/coverage.yml
Due: none

fix(clients): revert usage of URLSearchParams #839
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/utils/request-params.ts
  tsconfig.json
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

chore(deps): update peer dependencies resolutions
  package.json
Due: pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore(release): 1.19.1 [skip ci]
  package.json
Due: pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

Notes added by 'git notes add'
  6db48f0cafc7cce7ac007d1024ef8abe50fc52da
Due: none

chore(deps-dev): update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: enable extendedDiagnostics
  package.json
Due: pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

fixed some typos
  docs/src/typings/pokemon-typings.md
Due: prettier '**/*.{md,mdx,json}' --write

build: update tsup and esbuild
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore(test): update vitest deps
  package.json
  pnpm-lock.yaml
Due: pnpm i --fix-lockfile, pnpm audit, pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm lint:pkg

chore: add env.ts
  env.ts
Due: none
