Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: add zod
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update dotenv
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: add node latest to ci build
  .github/workflows/build.yml
Due: none

fix(constants): remove enums for readonly consts
  src/__tests__/berry.spec.ts
  src/__tests__/contest.spec.ts
  src/__tests__/encounter.spec.ts
  src/__tests__/evolution.spec.ts
  src/__tests__/game.spec.ts
  src/__tests__/item.spec.ts
  src/__tests__/location.spec.ts
  src/__tests__/main.spec.ts
  src/__tests__/move.spec.ts
  src/__tests__/pokemon.spec.ts
  src/__tests__/utility.spec.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/constants/berries.ts
  src/constants/contests.ts
  src/constants/encounters.ts
  src/constants/endpoints.ts
  src/constants/evolutions.ts
  src/constants/games.ts
  src/constants/items.ts
  src/constants/locations.ts
  src/constants/moves.ts
  src/constants/pokemons.ts
  src/constants/utilities.ts
  src/utils/request-params.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore: update rome.json
  rome.json
Due: prettier '**/*.{md,mdx,json}' --write

test: add pagination tests
  src/__tests__/berry.spec.ts
  src/__tests__/contest.spec.ts
  src/__tests__/encounter.spec.ts
  src/__tests__/evolution.spec.ts
  src/__tests__/game.spec.ts
  src/__tests__/item.spec.ts
  src/__tests__/location.spec.ts
  src/__tests__/machine.spec.ts
  src/__tests__/move.spec.ts
  src/__tests__/pokemon.spec.ts
  src/__tests__/utility.spec.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

feat: add base getListURL method
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/structures/base.ts
  src/utils/request-params.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore(release): 1.20.0 [skip ci]
  package.json
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Notes added by 'git notes add'
  2329062275741ec6a0462c25922b6e3e19ac067a
Due: none

chore: update build and docs dependencies
  .github/LICENSE
  .gitpod.yml
  env.ts
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(dev): update vscode settings and extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update node typings
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Update pokemon-client.md
  docs/src/clients/pokemon-client.md
Due: prettier '**/*.{md,mdx,json}' --write

build(deps): update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest deps
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update tsup
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vitepress dependencies
  commitlint.config.js
  docs/.vitepress/config.ts
  docs/src/public/bundlephobia-icon.svg
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: replace files
  commitlint.config.cjs
  docs/src/public/bundlephobia-icon.svg
Due: none

chore: remove type module
  package.json
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: rename vitest config
  vitest.config.mts
Due: none

chore: set type to module
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: sync lockfile
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: verbose commitlint
  .husky/commit-msg
Due: none

docs: fix links
  docs/.vitepress/assets/bundlephobia-icon.svg
  docs/.vitepress/assets/jsdelivr-icon.svg
  docs/.vitepress/assets/npm-icon.svg
  docs/.vitepress/assets/packagephobia-icon.svg
  docs/.vitepress/assets/siteLogo.svg
  docs/.vitepress/config.ts
Due: none

test: update vitest and add more berry client tests
  package.json
  pnpm-lock.yaml
  src/__tests__/berry.spec.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(base): change base url enum to as const
  src/constants/base.ts
  src/structures/base.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore: update semantic-release
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update typescript
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vitepress and add docs:build step ito thebuild workflow
  .github/workflows/build.yml
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Path conditions:
  pnpm lint:fix: (any of: src/**/*) or (any of: src/**/*.{js,ts,tsx})
  pnpm format:fix: any of: src/**/*
  pnpm sort-package-json: any of: package.json
  pnpm lint:tsc: any of: src/**/*.{js,ts,tsx}
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  pnpm audit: any of: package.json
  pnpm lint:pkg: any of: package.json
