Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat: refactor berry client
  src/clients/base.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/main.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/index.ts
  src/structures/index.ts
  tsconfig.json
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

ci(lint): update lint scripts
  .github/workflows/lint.yml
  package.json
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci(workflows): update node setup versions
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/stable.yml
  .github/workflows/test.yml
Due: none

chore(deps-dev): update size-limit
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update @swc/core and vitest deps
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitepress
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update deps
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vitest
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: deps dev
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update types node
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(clients): refactor clients
  package.json
  pnpm-lock.yaml
  src/clients/base.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(base): fix get resource
  src/clients/base.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore(deps-dev): update dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update lint-staged
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update commitlint and vue
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(clients): remove unused axios typings
  src/clients/game.client.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

docs(build): update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(lint): replace rome for biome
  biome.json
  package.json
  pnpm-lock.yaml
  src/__tests__/berry.spec.ts
  src/__tests__/contest.spec.ts
  src/__tests__/encounter.spec.ts
  src/__tests__/evolution.spec.ts
  src/__tests__/game.spec.ts
  src/__tests__/item.spec.ts
  src/__tests__/location.spec.ts
  src/__tests__/logger.spec.ts
  src/__tests__/machine.spec.ts
  src/__tests__/main.spec.ts
  src/__tests__/move.spec.ts
  src/__tests__/pokemon.spec.ts
  src/__tests__/utility.spec.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): updade dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update deps
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios to 1.6.0
  .huskyrc
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(depsdev): update ci-info
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(clients): add getResourceByURL for a custom base URL #903
  src/clients/base.ts
  src/clients/utility.client.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore(deps-dev): update biomejs
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(node): update min. required node version
  package.json
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vue and vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update is-ci types
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(paths): using ts paths
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/main.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/index.ts
  tsconfig.json
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

build(deps): update axios and required version
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update commitlint
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Path conditions:
  pnpm lint:fix: (any of: src/**/*) or (any of: src/**/*.{js,ts,tsx})
  pnpm format:fix: any of: src/**/*
  pnpm sort-package-json: any of: package.json
  pnpm lint:tsc: any of: src/**/*.{js,ts,tsx}
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  pnpm audit: any of: package.json
  pnpm lint:pkg: any of: package.json
