Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update size-limit and presets
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios to 1.6.2
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update tsup
  .vscode/settings.json
  docs/.vitepress/assets/packagephobia-icon.svg
  docs/.vitepress/config.ts
  docs/.vitepress/social-links.ts
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vitepress
  docs/src/guides/getting-started.md
  docs/src/guides/logging.md
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update tsup
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update typescript
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update node typings
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update biomejs
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update lint-staged
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update dependencies
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

hore: update devcontainer config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier '**/*.{md,mdx,json}' --write

chore: update settings
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update development dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update project definitions
  .gitattributes
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/SECURITY.md
  .github/pull_request_template.md
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/stable.yml
  .github/workflows/test.yml
  .nvmrc
Due: prettier '**/*.{md,mdx,json}' --write

docs: fix bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore(prioject): update codespace configurations
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  vitest.config.mts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update contributing and task configuration
  .github/CONTRIBUTING.md
  .vscode/tasks.json
Due: prettier '**/*.{md,mdx,json}' --write

chore: update semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update algolia search
  .vscode/tasks.json
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update @algolia/client-search
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios-cache-interceptor
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update devcontainer
  .devcontainer/devcontainer.json
Due: prettier '**/*.{md,mdx,json}' --write

chore: update dev deps
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Add version to FlavorText interface
  src/models/Common/flavor-text.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore(deps-dev): update vite dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update authors and dependencie resolutions
  .github/AUTHORS.md
  package.json
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: typo
  .github/AUTHORS.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: enhance Husky hooks and pre-commit script
  .husky/commit-msg
  .husky/pre-commit
  .releaserc
  README.md
  biome.json
  tsconfig.json
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write

chore: enhance Husky hooks and pre-commit script
  .husky/commit-msg
Due: none

chore: enhance Husky hooks and pre-commit script
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(deps): update axios and axios-cache-interceptor
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat: Add Showdown animated sprites
  src/models/Pokemon/pokemon.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

Path conditions:
  pnpm lint:fix: (any of: src/**/*) or (any of: src/**/*.{js,ts,tsx})
  pnpm format:fix: any of: src/**/*
  pnpm sort-package-json: any of: package.json
  pnpm lint:tsc: any of: src/**/*.{js,ts,tsx}
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  pnpm audit: any of: package.json
  pnpm lint:pkg: any of: package.json
