Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["pnpm lint:fix", "pnpm lint:tsc"],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write"],
  "package.json": ["pnpm audit", "pnpm lint:pkg"]
}

docs(github): update contributing guide
  .github/CONTRIBUTING.md
Due: prettier '**/*.{md,mdx,json}' --write

docs(github): add security.md
  .github/SECURITY.md
Due: prettier '**/*.{md,mdx,json}' --write

feat(deps): update axios
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci: add sonarcloud code cov
  .github/workflows/coverage.yml
Due: none

fix: add sonar properties
  sonar-project.properties
Due: none

fix: update sonar properties
  sonar-project.properties
Due: none

fix: comment sonar failed cove
  .github/workflows/coverage.yml
Due: none

docs: add nav and sidebar
  banner.js
  docs/.vitepress/config.ts
  docs/clients/berry-client.md
  docs/index.md
  docs/public/siteLogo.svg
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: add typings
  docs/.vitepress/config.ts
  docs/.vitepress/routes.ts
  docs/clients/contest-client.md
  docs/clients/encounter-client.md
  docs/clients/evolution-client.md
  docs/clients/game-client.md
  docs/clients/item-client.md
  docs/clients/location-client.md
  docs/clients/machine-client.md
  docs/clients/main-client.md
  docs/clients/move-client.md
  docs/clients/pokemon-client.md
  docs/clients/utility-client.md
  docs/getting-started.md
  docs/index.md
  docs/typings/berry-typings.md
  docs/typings/common-typings.md
  docs/typings/contest-typings.md
  docs/typings/encounter-typings.md
  docs/typings/evolution-typings.md
  docs/typings/game-typings.md
  docs/typings/item-typings.md
  docs/typings/location-typings.md
  docs/typings/machine-typings.md
  docs/typings/move-typings.md
  docs/typings/pokemon-typings.md
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(dev-deps): update vitest dependencies
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update axios
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: add guides section
  docs/.vitepress/routes.ts
  docs/getting-started.md
  docs/guides/cache.md
  docs/guides/logging.md
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build: add iife output and peer deps
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build: update build and package config
  package.json
  tsconfig.json
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: add src dir and social links
  docs/.vitepress/config.ts
  docs/.vitepress/routes.ts
  docs/.vitepress/social-links.ts
  docs/src/clients/berry-client.md
  docs/src/clients/contest-client.md
  docs/src/clients/encounter-client.md
  docs/src/clients/evolution-client.md
  docs/src/clients/game-client.md
  docs/src/clients/item-client.md
  docs/src/clients/location-client.md
  docs/src/clients/machine-client.md
  docs/src/clients/main-client.md
  docs/src/clients/move-client.md
  docs/src/clients/pokemon-client.md
  docs/src/clients/utility-client.md
  docs/src/guides/cache.md
  docs/src/guides/contributing.md
  docs/src/guides/getting-started.md
  docs/src/guides/logging.md
  docs/src/index.md
  docs/src/public/bullbasaur.png
  docs/src/public/bundlephobia-icon.svg
  docs/src/public/jsdelivr-icon.svg
  docs/src/public/npm-icon.svg
  docs/src/public/packagephobia-icon.svg
  docs/src/public/siteLogo.svg
  docs/src/typings/berry-typings.md
  docs/src/typings/common-typings.md
  docs/src/typings/contest-typings.md
  docs/src/typings/encounter-typings.md
  docs/src/typings/evolution-typings.md
  docs/src/typings/game-typings.md
  docs/src/typings/item-typings.md
  docs/src/typings/location-typings.md
  docs/src/typings/machine-typings.md
  docs/src/typings/move-typings.md
  docs/src/typings/pokemon-typings.md
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci: update build workflow
  .github/workflows/build.yml
Due: none

ci(workflows): update build, test and coverage workflows
  .github/workflows/coverage.yml
  .github/workflows/dev.yml
  .github/workflows/lint.yml
  .github/workflows/master.yml
  .github/workflows/test.yml
Due: none

fix: update berry client
  .husky/pre-commit
  src/clients/berry.client.ts
Due: pnpm lint:fix, pnpm lint:tsc

ci(github): update workflows
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/stable.yml
  .github/workflows/test.yml
Due: none

chore: remove lint-staged and sonar properties file
  .lintstagedrc.json
  sonar-project.properties
Due: prettier '**/*.{md,mdx,json}' --write

chore: update pino-pretty
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update dev deps and add size-limit
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: fix links
  docs/.vitepress/social-links.ts
  docs/src/clients/berry-client.md
  docs/src/clients/contest-client.md
  docs/src/clients/encounter-client.md
  docs/src/clients/evolution-client.md
  docs/src/clients/game-client.md
  docs/src/clients/item-client.md
  docs/src/clients/location-client.md
  docs/src/clients/machine-client.md
  docs/src/clients/main-client.md
  docs/src/clients/move-client.md
  docs/src/clients/pokemon-client.md
  docs/src/clients/utility-client.md
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vitepress
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: last revision in docs
  docs/.vitepress/config.ts
  docs/.vitepress/routes.ts
  docs/src/guides/cache.md
  docs/src/guides/contributing.md
  docs/src/guides/logging.md
  docs/src/public/.nojekyll
  docs/src/public/bullbasaur.png
  docs/src/public/bundlephobia-icon.svg
  docs/src/public/cover.jpg
  docs/src/public/jsdelivr-icon.svg
  docs/src/public/npm-icon.svg
  docs/src/public/packagephobia-icon.svg
  docs/src/public/robots.txt
  docs/src/public/siteLogo.svg
  package.json
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci(github): remove latest node version from build task
  .github/workflows/build.yml
Due: none

docs: remove txt extension
  docs/src/guides/logging.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: add files to release
  .releaserc
Due: none

ci(workflows): add pnpm action to release
  .github/workflows/stable.yml
Due: none

chore(release): 1.18.0 [skip ci]
  package.json
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Notes added by 'git notes add'
  8ea5311bcb934060870d9f72bd333e74b13b5008
Due: none

fix(deps): replace peers ad deps
  package.json
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(deps): sync lockfile
  pnpm-lock.yaml
Due: none

chore(release): 1.18.1 [skip ci]
  package.json
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Notes added by 'git notes add'
  6520a22cb9fd27de7b4286bc5dd51173ba080bc3
Due: none

fix: remove pino and fix docs
  README.md
  docs/src/guides/getting-started.md
  docs/src/guides/logging.md
  docs/src/index.md
  package.json
  pnpm-lock.yaml
  src/config/logger.ts
  src/structures/base.ts
  tsup.config.ts
Due: pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(release): 1.18.2 [skip ci]
  package.json
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Notes added by 'git notes add'
  420864a354f6a5337d3b0e4163a3a8828eaffa66
Due: none

docs: add algolia search integration
  docs/.vitepress/config.ts
  docs/.vitepress/head-config.ts
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update typescript to 5.0
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg
