Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["pnpm lint:fix", "pnpm lint:tsc"],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write"],
  "package.json": ["pnpm audit", "pnpm lint:pkg"]
}

test: add logger tests
  src/__tests__/logger.spec.ts
  src/config/logger.ts
  vitest.config.ts
Due: pnpm lint:fix, pnpm lint:tsc

docs: update readme
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

chore(deps): update vitest deps
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update vitepress docs
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: add cov badge
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

chore(deps): update prettier
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(dev-deps): update algolia search
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: add past relations to Pokemon/Type
  src/models/Pokemon/type.ts
Due: pnpm lint:fix, pnpm lint:tsc

docs: add TypeRelationsPast to documentation
  docs/src/typings/pokemon-typings.md
Due: prettier '**/*.{md,mdx,json}' --write

chore(deps): update semantic release changelog and prettier\
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(release): 1.18.3 [skip ci]
  package.json
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Notes added by 'git notes add'
  18425f0e2a69d1b38ed4ce27aa6959141ea6bf1d
Due: none

chore(deps): update vitepress and semantic-release
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs(typings): fix typo
  docs/src/guides/logging.md
  docs/src/typings/pokemon-typings.md
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest deps
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: sync lockfile
  pnpm-lock.yaml
Due: none

chore: update eslint
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update typescript minor version
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update semantic-release
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(deps): update axios
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update typescript
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update vscode extensions and setings
  .vscode/extensions.json
  .vscode/settings.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write

fix: ci lint and format check
  .github/workflows/lint.yml
  .github/workflows/stable.yml
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: add banner into build config file
  .prettierignore
  .prettierrc.json
  banner.js
  docs/.vitepress/config.ts
  docs/.vitepress/head-config.ts
  docs/.vitepress/routes.ts
  docs/.vitepress/social-links.ts
  tsup.config.ts
Due: prettier '**/*.{md,mdx,json}' --write

feat: add lint staged
  .husky/pre-commit
  .lintstagedrc
Due: none

build(deps): update axios
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: typo
  .lintstagedrc
Due: none

chore(deps): update vitepress
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: sonarlint code smells #827
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: pnpm lint:fix, pnpm lint:tsc

fix: sonarlint code smells #827
  src/clients/berry.client.ts
Due: pnpm lint:fix, pnpm lint:tsc

chore: update vitest
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: sync lockfile
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update swc core and vue
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: add pwa
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update nvmrc
  .nvmrc
Due: none

fix(clients): remove useless constructors
  package.json
  pnpm-lock.yaml
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg
