Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm sort-package-json, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

.lintstagedrc:

{
  "src/**/*": ["pnpm lint:fix", "pnpm format:fix"],
  "package.json": ["pnpm sort-package-json"]
}

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["pnpm lint:fix", "pnpm lint:tsc"],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write"],
  "package.json": ["pnpm audit", "pnpm lint:pkg"]
}

chre(deps-dev): update node typings
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update dev dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vue
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vue and semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update @swc/core
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios-cache-adapter
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update swc
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: typo
  docs/.vitepress/routes.ts
Due: none

fix(ci): remove tsc lint from ci
  .github/workflows/lint.yml
Due: none

docs(github): update project descriptions and guidelines
  .github/AUTHORS.md
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
Due: prettier '**/*.{md,mdx,json}' --write

build: update axios
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(dev-deps): update semantic-release plugins
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update dev deps and some project configs
  README.md
  biome.json
  docs/.vitepress/config.ts
  docs/.vitepress/head-config.ts
  docs/.vitepress/routes.ts
  docs/src/index.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.mts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update semantic-release dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update swc core
  biome.json
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: add zode
  biome.json
  docs/.vitepress/assets/siteLogo.svg
  docs/.vitepress/components/theme/index.ts
  docs/.vitepress/config.ts
  env.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsup.config.ts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: remove algolia search
  docs/.vitepress/config.ts
Due: none

chore(deps-dev): update semantic-release
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update algolia search
  .vscode/tasks.json
  pnpm-lock.yaml
Due: prettier '**/*.{md,mdx,json}' --write

test(berry): organize files and structures
  src/clients/base.ts
  src/constants/endpoints.ts
  tests/berry/berry.spec.ts
  tests/berry/mocks.ts
  tests/berry/mocks/data.ts
  tests/berry/mocks/handlers.ts
  tests/utils/base-handler.ts
  tests/utils/setup.ts
  vitest.config.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm lint:tsc

chore: update biome
  .lintstagedrc
  biome.json
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  tests/utils/base-handler.ts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

test: add vitest globals
  biome.json
  env.ts
  package.json
  pnpm-lock.yaml
  tests/berry/berry.spec.ts
  tests/contest/contest.spec.ts
  tests/encounter/encounter.spec.ts
  tests/evolution/evolution.spec.ts
  tests/game/game.spec.ts
  tests/item/item.spec.ts
  tests/location/location.spec.ts
  tests/logger/logger.spec.ts
  tests/machine/machine.spec.ts
  tests/main/main.spec.ts
  tests/move/move.spec.ts
  tests/pokemon/pokemon.spec.ts
  tests/utility/utility.spec.ts
  tests/utils/base-handler.ts
  tests/utils/setup.ts
  tsconfig.build.json
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

test: add missing vitest globals
  vitest.config.ts
Due: none

docs: update docs config
  docs/.vitepress/assets/siteLogo.svg
  docs/.vitepress/config.ts
  docs/.vitepress/head-config.ts
  docs/src/index.md
  docs/src/public/site-logo.svg
  package.json
  tests/berry/berry.test-d.ts
  vitest.config.ts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update vitepress config
  docs/.vitepress/components/ReloadPrompt.vue
  docs/.vitepress/components/theme/index.ts
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/routes.ts
  docs/.vitepress/meta/social-links.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/src/index.md
  docs/src/public/_headers
Due: prettier '**/*.{md,mdx,json}' --write

test: update berry tests
  biome.json
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  tests/berry/berry.spec.ts
  tests/berry/mocks/data.ts
  tests/berry/mocks/handlers.ts
  tests/utils/setup.ts
  vitest.config.ts
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios-cache-adapter
  biome.json
  commitlint.config.cjs
  commitlint.config.js
  docs/src/index.md
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(docs): update vitepress
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update vitest deps
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update vitest and vite
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

test: add folder structure
  .gitattributes
  biome.json
  tests/contest/mocks.ts
  tests/contest/mocks/.gitkeep
  tests/encounter/mocks.ts
  tests/encounter/mocks/.gitkeep
  tests/evolution/mocks.ts
  tests/evolution/mocks/.gitkeep
  tests/game/mocks.ts
  tests/game/mocks/.gitkeep
  tests/item/mocks.ts
  tests/item/mocks/.gitkeep
  tests/location/mocks.ts
  tests/location/mocks/.gitkeep
  tests/machine/mocks.ts
  tests/machine/mocks/.gitkeep
  tests/main/mocks.ts
  tests/main/mocks/.gitkeep
  tests/move/mocks.ts
  tests/move/mocks/.gitkeep
  tests/pokemon/mocks.ts
  tests/pokemon/mocks/.gitkeep
  tests/utility/mocks.ts
  tests/utility/mocks/.gitkeep
  tests/utils/base-handler.ts
Due: prettier '**/*.{md,mdx,json}' --write

build(deps): update @swc/core
  biome.json
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci(test): add typecheck testing step
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(tests): update msw
  package.json
  pnpm-lock.yaml
Due: pnpm sort-package-json, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg
